.inviteContainer {
    text-align: center;
    margin-top: 20px;
  }
  
  .inviteButton, .whatsappButton {
    background: linear-gradient(135deg, #f7971e 0%, #ffd200 100%);
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 24px;
    cursor: pointer;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin: 10px; /* Spacing between buttons */
  }
  
  .inviteButton:hover, .whatsappButton:hover {
    background: linear-gradient(135deg, #ffd200 0%, #f7971e 100%);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }
  
  .inviteButton:active, .whatsappButton:active {
    transform: translateY(2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .copiedMessage {
    margin-top: 10px;
    font-size: 20px;
    color: rgb(255, 255, 255);
  }
  